 #para1 {
    color: white;
    background-color: purple;
}

#span1 {
    color: yellow;
    background-color: black;
}

#span2 {
    color: red;
    background-color: lightblue;
}

#para2 {
    color: black;
    background-color: pink;
}

#span3 {
    color: green;
    background-color: beige;
}

#span4 {
    color: blue;
    background-color: orange;
}

#para3 {
    color: white;
    background-color: teal;
}

#span5 {
    color: purple;
    background-color: yellow;
}

#span6 {
    color: brown;
    background-color: lavender;
}
