@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}
.single-column {
    max-width: 1000px;
    margin: 0 auto;
}


.recipe-intro {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 40px;
}

.image-container,
.content {
    flex: 1;
}


.time-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.jump-button {
    display: inline-block;
    background: #d46f6f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0;
}


.three-cards {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.card {
    flex: 1;
    text-align: center;
}

.card img {
    border-radius: 10px;
}

.card p {
    font-weight: bold;
    margin-top: 10px;
}