body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}

.color {
    margin: 0px;
    padding: 24px;
    font-weight: bold;
}

/* Unique color backgrounds */
#color-1 { 
    background-color: #F7B2AD; 
}
#color-2 { 
    background-color: #FCD7B6; 
}
#color-3 { 
    background-color: #F9EEDC;
}

#color-4 { 
    background-color: #A7D8DE; 
}
#color-5 {
    background-color: #74B3CE;
    color: white; 
}
#color-6 {
    background-color: #508CA4; 
    color: white; 
}

#color-7 {
    background-color: #6A5ACD; 
    color: white; 
}
#color-8 { 
    background-color: #98FB98; 
}
#color-9 {
    background-color: #2E8B57; 
    color: white; 
}

